.bg-container {
  background-image: linear-gradient(to bottom, #9ba9eb, #c3caea);
  min-height: 100dvh;
  width: 100dvh;
  padding-top: 10px;
  color: #ffffff;
}
.card-container {
  height: 350px;
  padding: 20px;
  padding-top: 5px;
  margin: 15px;
  border-radius: 5px;
  background-color: #5763a5;
}

.inputs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid green;
}
.input-elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid red;
  padding: 10px;
  gap: 2rem;
  width: 300px;
}
.input-elements img {
  height: 30px;
  border: 1px solid gray;
  border-right: 0px;
  border-radius: 5px 0 0 5px;
}
button {
  background-color: blue;
  border: 0;
  color: #ffffff;
}
.input-element-1 {
  display: flex;
  background-color: #ffffff;
  border-radius: 5px;
  height: 30px;
}

.password-manager-img {
  height: 250px;
}

.input-element-2 {
  display: flex;
  background-color: #ffffff;
  border-radius: 5px;
  border-radius: 5px 0 0 5px;
  height: 20px;
  width: 180px;
}
.passwords-container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
